<!DOCTYPE html>
<html lang="en">
<footer style="padding: 50px 0px 50px 0px">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                 <p>Adresa: Bulevar Kralja Aleksandra 43, Beograd</p>
                 <p>Telefon: <a href="tel:0628964677">062/8964-677</a></p>
                 <p>E-mail: <a href="mailto:milanka.bjelic.2626@metropolitan.ac.rs">milanka.bjelic.2626@metropolitan.ac.rs</a></p>
            </div>
        </div>
    </div>
</footer>
</html>