<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Met Mobile Store Korpa</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:rel="icon" th:href="@{/resources/images/icon.ico}" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"
    ></script>


</head>

<div th:replace="heder::heder"></div>
<body style="padding-top: 100px">
<section>
    <div class="jumbotron">
        <div class="container">
            <h1>Korpa</h1>
        </div>
    </div>
</section>
<div class="container">
    <section class="container" >
    <div th:with="s=${0.0}">
        <a th:href="@{/kupac/korpa/potvrdaPorudzbine}" class="btn btn-success pull-right"><span class="glyphicon glyphicon-shopping-cart"></span> Kupi</a>

        <br/><br/><br/>

        <table id="example" class="display" cellspacing="0" width="100%" >
            <tr>
                <th>Obrisi</th>
                <th>Slika</th>
                <th>Naziv</th>
                <th>Cena</th>
                <th>Kolicina</th>
                <th>Ukupno</th>
            </tr>

            <th:block th:each="item, status : ${session.korpa}" th:with="s = ${s + item.proizvodKorpa.proizvodCena * item.kolicinaUKorpi}">
                <div >
                    <tr>
                        <td><a th:href="@{'/kupac/korpa/ukloni/' + ${status.index}}"><span class="glyphicon glyphicon-remove" style="color: red"></span></a></td>
                        <td><a th:href="@{'/proizvod/pregledProizvodaKupac/' + ${item.proizvodKorpa.proizvodId}}"><img th:src="${item.proizvodKorpa.proizvodSlika}" alt="img" class="img-responsive" style="width:150px; height: 150px"/></a></td>
                        <td th:text="${item.proizvodKorpa.proizvodNaziv}"></td>
                        <td th:text="${item.proizvodKorpa.proizvodCena}"></td>
                        <td th:text="${item.kolicinaUKorpi}"></td>
                        <td th:text="${item.proizvodKorpa.proizvodCena * item.kolicinaUKorpi}"></td>
                    </tr>
                </div>
            </th:block>
        </table>

        <a th:href="@{/proizvod/listaProizvoda/sviProizvodi}" class="btn btn-primary">Nastavak kupovine</a>
    </div>
    </section>

</div>
</body>
<div th:replace="footer::footer"></div>
</html>