<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Svi proizvodi</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"
    ></script>
    <link th:href="@{/Css/izgled.css}"
          rel="stylesheet" media="screen"/>
    <div th:replace="heder::heder"></div>
</head>
<body style="padding-top: 100px">
<section>
    <div class="jumbotron">
        <div class="container">
            <h1>Proizvodi</h1>
        </div>
    </div>
</section>
<div class="container" style="margin: 0 auto">
    <div class="row" style="display: block">
        <ul class="rig columns-2">
            <th:block th:each="proizvod : ${proizvodi}">
                <li>
                    <img th:src="${proizvod.proizvodSlika}" alt="img" class="img-thumbnail" style="width: 200px; height: 200px"/>
                    <h2 th:text="${proizvod.proizvodNaziv}"></h2>
                    <h4 th:text="${proizvod.proizvodKategorija}"></h4>
                    <h4 th:text="${proizvod.proizvodCena}"></h4>
                    <!--<a th:href="@{'/proizvod/pregledProizvoda/' + ${proizvod.proizvodId}}">Vise informacija</a>-->

                        <a th:href="@{'/proizvod/pregledProizvodaKupac/' + ${proizvod.proizvodId}}" class="btn btn-primary">Detaljnije</a>

                </li>
            </th:block>
        </ul>
    </div>
</div>
</body>
<div th:replace="footer::footer"></div>
</html>