<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Met Mobile Store</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"
    ></script>
    <div th:replace="heder::heder"></div>
</head>
<body style="padding-top: 100px">
<div class="container">
    <h1>Kupci</h1>
    <table id="tabelaKupaca" class="table table-bordered">
        <thead>
        <tr>
            <th>Ime i prezime</th>
            <th>Adresa</th>
            <th>Email</th>
            <th>Broj telefona</th>
        </tr>
        </thead>
        <th:block th:each="kupac : ${listaKupaca}">

            <tr>
                <td th:text="${kupac.kupacIme}"></td>
                <td th:text="${kupac.kupacAdresa}"></td>
                <td th:text="${kupac.kupacEmail}"></td>
                <td th:text="${kupac.kupacTelefon}"></td>
            </tr>
        </th:block>
    </table>
    <div class="row">
        <a th:href="@{/administrator/prikazProizvodaAdmin}" class="btn btn-primary">Nazad</a>
    </div>
</div>
</body>
<div th:replace="footer::footer"></div>
</html>